@import 'variables';

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.header__up {
    background-color: $header-up-bg;
}

.header__btn-city {
    color: $color-white;
    text-decoration: none;
    transition: $transition-color;
    
    &:hover {
        color: $color-acent;
      }
}

.header__up .bi-geo-alt {
    position: relative;
    top: -0.125em;
  }
  
  .header__up .bi-chevron-down {
    position: relative;
    top: 0.15em;
  }

  /*Модальное окно городов*/
  .modal-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .city-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; // 8px между городами и по горизонтали, и по вертикали
    margin-bottom: 1rem; // 16px после строки городов
  }
  
  .city-link {
    text-decoration: none;
    color: $color-black;
    &:hover {
      color: $color-acent;
    }
    &.active {
      font-weight: 600;
      color: $color-acent;
    }
  }
  
  .city-letter {
    color: $color-acent;
    font-weight: 700;
    margin-top: 1.5rem; // 24px сверху (можно убрать у первой буквы через :first-child)
    margin-bottom: 0.2rem;
    font-size: 1.25rem;
  }
  .city-letter:first-child {
    margin-top: 0;
  }

/*Контакты в шапке*/
.header__phone {
  position: relative;
  top: -0.125em;
}

.header__phone, .header__email {
  color: $color-white;
  text-decoration: none;
  &:hover {
    color: $color-acent;
  }
}

.img-icon {
  width: 1.5em;
  height: 1.5em;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

















/*Для того чтобы модальные окна сжимались меньше дефолтного 500px bootstrap*/
@media (max-width: 575.98px) {
  .modal-dialog {
    max-width: 100vw !important;
    width: 100vw !important;
    min-width: 0 !important;
    margin: 0 !important;
  }
  .modal-content {
    max-width: 100vw !important;
    width: 100vw !important;
    min-width: 0 !important;
  }
}